# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# VSC
.history

# Local Netlify folder
.netlify

# Generated assets
public/brand/*
!public/brand/logo.svg
!public/brand/logo-mono.svg
!public/brand/logo-horizontal.svg

# Sentry Config File
.env.sentry-build-plugin

# MCP Config File
.vscode/mcp.json
